# Python
__pycache__/
*.py[cod]
*$py.class

# venv
.venv/
venv/
ENV/
env/

# dotenv (секреты)
.env

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build / cache
.dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
